{% extends 'blog/base.html' %}
{% block content %}
    <div id="main">
        <div class="container">
            {% if user.is_authenticated %}
            <div class="box_right">
                <p><a href="{% url 'post_new' %}"><i class="material-icons" style="padding: 5px">add_box</i></a> New
                    Post
                </p>
            </div>
            {% endif %}
            {% for post in posts %}
                <div class="box_left">
                    <p>Published: {{ post.published_date }}</p>
                    <h3><a href="{%  url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
